{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Sponsor</title>
<link rel="stylesheet">
{% endblock meta %}

{% block content %}
<body>
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-5">
                <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                    <div class="card-body p=5 text-center">
                        <div class="daftar-sponsor">
                            <h1 class="title fw-bold">Daftar Atlet</h1>

                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-floating">
                                    <select name="atlet" class="form-select my-3">
                                        <option selected disabled></option>
                                        {% for atlet in atlet_list %}
                                        <option value="{{ atlet }}">{{ atlet }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="floatingSelectValue">Atlet</label>
                                </div>
                                <div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}