{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Pemilihan Stadium</title>
<link rel="stylesheet" />
<style>
  table,
  th,
  td {
    text-align: center;
  }
  .table {
    margin: 0 auto;
    width: 80%;
  }
 
</style>
{% endblock meta %} {% block content %}
<body>
  <table class="table table-bordered">
    <tr>
      <th colspan="4">Daftar Event</th>
    </tr>
    <tr>
      <th>Nama Stadium</th>
      <th>Negara</th>
      <th>Kapasitas</th>
      <th></th>
    </tr>
    {% for data in stadium %}
    <tr>
      <td>{{ data.nama }}</td>
      <td>{{ data.negara }}</td>
      <td>{{ data.kapasitas }}</td>
      <td>
        <a class="btn btn-primary" role="button" href="{{data.nama}}">Pilih</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock content %}
