{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Pemilihan Stadium</title>
<link rel="stylesheet" />
<style>
  table,
  th,
  td {
    text-align: center;
  }
  .table {
    margin: 0 auto;
    width: 80%;
  }
  .navbar-nav {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
</style>
{% endblock meta %} {% block content %}
<body>
  <table class="table table-bordered">
    <tr>
      <th colspan="5">Daftar Event</th>
    </tr>
    <tr>
      <th>Nama Event</th>
      <th>Total Hadiah</th>
      <th>Tanggal Mulai</th>
      <th>Kategori</th>
      <th></th>
    </tr>
    {% if event %} {% for data in event %}
    <tr>
      <td>{{ data.nama_event }}</td>
      <td>{{ data.total_hadiah }}</td>
      <td>{{ data.tgl_mulai }}</td>
      <td>{{ data.kategori_superseries }}</td>
      <td>
        <a class="btn btn-primary" role="button" href="{{data.nama_event}}"
          >Pilih</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="5" class="text-center">Tidak Ada Event</td>
    </tr>
    {% endif %}
    <!-- <tr>
      <td>Event 1</td>
      <td>$400.000</td>
      <td>29 Maret 2021</td>
      <td>S300</td>
      <td>20/20</td>
      <td></td>
    </tr>
    <tr>
      <td>Event 2</td>
      <td>$3.000.000</td>
      <td>12 Juni 2022</td>
      <td>S1000</td>
      <td>18/20</td>
      <td><a class="btn btn-primary" role="button">Pilih</a></td>
    </tr>
    <tr>
      <td>Event 3</td>
      <td>$1.000.000</td>
      <td>26 April 2023</td>
      <td>S750</td>
      <td>15/20</td>
      <td><a class="btn btn-primary" role="button">Pilih</a></td>
    </tr> -->
  </table>
</body>
{% endblock content %}
