{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Pemilihan Stadium</title>
<link rel="stylesheet" />
<style>
  table,
  th,
  td {
    text-align: center;
  }
  .table {
    margin: 0 auto;
    width: 80%;
  }
  .navbar-nav {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
</style>
{% endblock meta %} {% block content %}
<body>
  <table class="table table-bordered">
    <tr>
      <th colspan="4">Daftar Event</th>
    </tr>
    <tr>
      <th>Nama Stadium</th>
      <th>Negara</th>
      <th>Kapasitas</th>
      <th></th>
    </tr>
    {% for data in stadium %}
    <tr>
      <td>{{ data.nama }}</td>
      <td>{{ data.negara }}</td>
      <td>{{ data.kapasitas }}</td>
      <td>
        <a class="btn btn-primary" role="button" href="{{data.nama}}">Pilih</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock content %}
