{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Pemilihan Stadium</title>
<link rel="stylesheet" />
<style>
  table,
  th,
  td {
    text-align: center;
  }
  .table {
    margin: 0 auto;
    width: 80%;
  }
  .navbar-nav {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        body {
			font-family: Arial, sans-serif;
			background-color: #F5F5F5;
            text-align:center;
		}
		.container {
			display: flex;
            flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
</style>
{% endblock meta %} {% block content %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Babadu - Atlet</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Dashboard</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="#">Tes Kualifikasi</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Daftar Event</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Enrolled Event</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Daftar Sponsor</a>
          </li>
          
          </div>
        </ul>
        <div class="topnav">
          
            <a class="btn btn-danger" href="#" role="button">Logout</a>
      </div>
    </div>
  </nav>
  <table class="table table-bordered">
    <tr>
      <th colspan="6">Daftar Event</th>
    </tr>
    <tr>
      <th>Nama Event</th>
      <th>Total Hadiah</th>
      <th>Tanggal Mulai</th>
      <th>Kategori</th>
      <th>Kapasitas</th>
      <th></th>
    </tr>
    <tr>
      <td>Event 1</td>
      <td>$400.000</td>
      <td>29 Maret 2021</td>
      <td>S300</td>
      <td>20/20</td>
      <td></td>
    </tr>
    <tr>
      <td>Event 2</td>
      <td>$3.000.000</td>
      <td>12 Juni 2022</td>
      <td>S1000</td>
      <td>18/20</td>
      <td><a class="btn btn-primary" role="button">Pilih</a></td>
    </tr>
    <tr>
      <td>Event 3</td>
      <td>$1.000.000</td>
      <td>26 April 2023</td>
      <td>S750</td>
      <td>15/20</td>
      <td><a class="btn btn-primary" role="button">Pilih</a></td>
    </tr>
  </table>
</body>
{% endblock content %}
