{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
{% endblock meta %}

{% block content %}

{% if request.session.is_atlet %}
<div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
            <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h1 class="title fw-bold text-center">Profile Information</h1>
                    <hr>
                    <p class="card-text"><strong>Name:</strong> Olivia Rodrigo</p>
                    <p class="card-text"><strong>Negara: </strong> Canada</p>
                    <p class="card-text"><strong>Email:</strong> orodrigo@gmail.com</p>
                    <p class="card-text"><strong>Tanggal Lahir:</strong> 20 February 2003</p>
                    <p class="card-text"><strong>Play:</strong> Right</p>
                    <p class="card-text"><strong>Tinggi Badan:</strong> 165</p>
                    <p class="card-text"><strong>Jenis Kelamin:</strong> Putri</p>
                    <p class="card-text"><strong>Pelatih:</strong> Bruce Lee</p>
                    <p class="card-text"><strong>Status:</strong> Qualified</p>
                    <p class="card-text"><strong>World Rank:</strong> 2</p>
                    <p class="card-text"><strong>Total Poin:</strong> John Doe</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if request.session.is_pelatih %}
<div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
            <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h1 class="title fw-bold text-center">Profile Information</h1>
                    <hr>
                    <p class="card-text"><strong>Name:</strong> Bruce Lee</p>
                    <p class="card-text"><strong>Negara: </strong> Canada</p>
                    <p class="card-text"><strong>Email:</strong> bruceee@gmail.com</p>
                    <p class="card-text"><strong>Spesialisasi Kategori:</strong> Ganda Putra</p>
                    <p class="card-text"><strong>Tanggal Mulai:</strong> 9 Maret 2010</p>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endif %}
  {% if request.session.is_umpire %}
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
            <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h1 class="title fw-bold text-center">Profile Information</h1>
                    <hr>
                    <p class="card-text"><strong>Name:</strong> John Legend</p>
                    <p class="card-text"><strong>Negara</strong> Afrika</p>
                    <p class="card-text"><strong>Email:</strong> iamlegend@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endif %}
{% endblock content %}